apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: finflow-prod
  labels:
    app: auth-service
    component: backend
spec:
  type: ClusterIP
  ports:
    - port: 3001
      targetPort: 3001
      protocol: TCP
      name: http
  selector:
    app: auth-service
