apiVersion: v1
kind: Service
metadata:
  name: accounting-service
  namespace: finflow-prod
  labels:
    app: accounting-service
    component: backend
spec:
  type: ClusterIP
  ports:
    - port: 3003
      targetPort: 3003
      protocol: TCP
      name: http
  selector:
    app: accounting-service
