apiVersion: v1
kind: Service
metadata:
  name: payments-db
  namespace: finflow-prod
  labels:
    app: payments-db
    component: database
spec:
  clusterIP: None
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector:
    app: payments-db
